.cart{
    @include landingPage();
    background-color: $white;
    padding: $s-size 0;
    border-radius: 20px;
    overflow-y: scroll;
    position: relative;
    
    
    .cart-wrapper{
        width: 98%;
        margin: $s-size auto;
        
    }

    h2{
        font-size: $l-size;
        font-weight: $semi-bold;
        text-align: center;
    }

    .cart-items{
        width: 100%;
        padding: $s-size;
    }

    .empty-cart-img{
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('../../../assets/emptycart.png');
        background-size: contain;
        height: 400px;
    }

}

.openCart{transform: translateX(0)!important; @include transition();}

@include responsive_tab(){
    .cart{background-color: $secondary-color!important;}
    .cart-info{
        transform: translateX(100%);
        width: 50vw!important;
        position: fixed;
        @include transition();
        right: 0;
        bottom: 0;
    }
}

@include responsive_mobile(){
    .cart-info{width: 80vw!important;}
}

@include responsive_max(360px){
    .cart-info{width: 100vw!important;}
    .cart-wrapper{padding-top: 3.4rem;}
}