.menu{
    @include landingPage();
    background-color: $bg-color;
    padding: $m-size 0;
    @include flexBox(space-between, center);
    width: 100vw;
    padding-left: 110px;
    
    .menu-wrapper{
        width: 70%;
        padding: 3rem;
        height: 100%;
        margin: 0 auto;
    }

    h2{
        font-size: $l-size;
        font-weight: $semi-bold;
    }

    .menu-header{
        @include flexBox(space-between, center);
        margin-bottom: 4rem;

        .form-control{
            position: relative;
            
            input{padding-left: $l-size!important;}
            
            i{
                position: absolute;
                top: 50%;
                left: 10px;
                transform: translateY(-50%);
                color: $muted;
                font-size: $m-size;
            }
        }
    }

    .menu-category{
        width: 40%;
        margin: auto;
        @include flexBox(space-between, center);

        .nav-btn{
            border-radius: 15px;
            background-color: $white;
            padding: 10px;
            color: $muted;
            font-weight: bold;

            i{
                border: 1px solid $muted;
                border-radius: 15px;
                padding: $m-size;
                display: inline-block;
                margin-bottom: 10px;
            }

            &:hover{
                color: $white;
                background-color: $main-color;

                i{
                    background-color: $white;
                    color: $main-color;
                    border-color: $main-color;
                }
            }
        }
    }

    .main-menu{
        //width: 90%;
        margin: $l-size auto;
        .menu-items{
            position: relative;
            min-height: 620px;
            display: grid;
            grid-template-columns: repeat(4,250px);
            gap: 20px;
            justify-content: center;
            grid-template-rows: repeat(2, 1fr);
        }
        
        
    
    }
}

@include responsive_tab(){
    .menu{
        width: 90vw;
        margin-left: auto;
        padding:  2rem;

        .menu-wrapper{
            padding: 0!important;
            padding-top: 4rem!important; 
            margin: 0 auto!important;
            min-width: 100%!important;

            .menu-category{
                width: 60%!important;
            }
        }
    }

    .menu-items{
        grid-template-columns: repeat(3,1fr)!important;
    }
}

@include responsive_mobile(){
    .menu .menu-wrapper .menu-category{
        width: 100%!important;
    }

    .menu-items{
        grid-template-columns: repeat(2,1fr)!important;
    }
}

@include responsive_max(450px){
    .menu{
        width: 100vw!important;
        margin-left: 0!important;
        .menu-header{
            flex-direction: column;
            text-align: center;
            h2{
                margin-bottom: 2rem;
            }
        }

        .menu-category .nav-btn{padding: 5px!important;}
    }
    .menu-items{
        grid-template-columns: 300px!important;
    }
}

@include responsive_max(360px){
    .menu-items{
        grid-template-columns: 270px!important;
    }
}

@include responsive_max(320px){
    .menu-category .nav-btn {
        font-size: 1.6rem!important;
        i{
            padding: 1.2rem!important;
            font-size: 1.9rem!important;
        }
    }
}