.payment{
    @include landingPage();
    background-color: $white;
    overflow-y: visible;

    .credit-card {
        width: 50vw;
        border: 2px solid $light;
        margin: $m-size auto;
    
        .credit-card-header{
            background-color: $light;
            padding: $s-size $l-size;
            display: grid;
            grid-template-columns:  6fr 3fr;
            justify-content: center;
            align-items: center;
            margin-bottom: $m-size;

    
            p{
                margin-top: $s-size;
                margin-bottom: $m-size;
            }
    
            h3{ font-size: $m-size; color: $black; font-weight: $bold;}
    
        .card-img{
            background-image: url('../../../assets/cards.png');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            width: 100%;
            height: 50px;
        }
        }
    
        form{
            position: initial;
            width: 100%;
            top: initial;
            left: initial;
            transform: translate(0,0);
            padding: 0 $m-size;
    
            .form-control{
                width: 100%;
            }
    
            .inline-form-control{
                justify-content: space-between;
                .form-control{
                    width: 48%;
                }
            }
        }
    }

    .checkout-btns{
        margin-top: 2rem;
        .btn-dark{
            font-size: $m-size;
        }
    }
}


@include responsive_max(450px){
    .payment{
        .credit-card{width: 100%!important;}

        form{width: 100%!important;}

        .credit-card-header{
            grid-template-columns:  1fr!important;
        }
    }
}

@include responsive_max(350px){
    .payment .credit-card form .inline-form-control .form-control{width: 100%!important;}
}