.mobile-bars{
    display: none;
    width: 100vw;
    height: 35px;
    z-index: 9;
    padding: .5rem 3.5rem;
    position: relative;
    z-index: 99;
    i{
        font-size: 3rem;
        color: $white;
        display: inline-block;
       
      
    }

    &.nav-light{
        background: $main-color;
    }

    &.nav-dark{
        background-color: $black;
        
    }
}

.mobile-cart{
   position: absolute;
   bottom: 0;
   right: 0;
   width: 80px;
   height: 80px;
   background-color: $white;
   display: none;
   i{
       font-size: 4rem;
       color: $main-color;
   }
}

.mobile-bars{
    left: 0;
}

@include responsive_tab(){
    .mobile-cart{
        background-color: $white;
        i{color: $main-color}
        top: initial!important;
        bottom: 0;
        @include flexBox();
    }
}


@include responsive_max(450px){
    .mobile-cart{
        text-align: right; 
        top: .5rem!important;
        right: 4rem!important;
        bottom: initial!important;
        z-index: 99;
        display: block;
        background-color: transparent!important;
        width: 35Px!important;
        height: 35px!important;
    i{
        font-size: 3rem;
        color: $white;
        display: inline-block; 
    }

    .badge{
        top: -4px;
        right: -11px;
        font-size: 1.3rem;
        width: 15px;
        height: 15px;
        line-height: 15px;;
    }
    }

    .mobile-bars{
        display: block;
    }
}

