.v-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    bottom: 0;
    @include flexBox();
    overflow: hidden;
    @include transition();

    &.openNav{
        transform: translateX(0)!important;
    }

    &.closeNav{
        transform: translateX(-120%)!important;
    }

    &.nav-light{
        background-color: $white;

        .nav-btn{
            color: $muted;
            &:hover, &.active{
                border: 1px solid $main-color;
                background-color: $main-color;
                color: $white;
            }
        }
    }
    &.nav-dark{
        background-color: $black;
        .nav-btn{
            box-shadow: -5px -5px 5px rgba(255,255,255,.13),
            5px 5px 15px  rgba(255,255,255,.1);
            color: $white;

            &:hover{color: $main-color;}

            &.active{
                color: $main-color;
                box-shadow: inset -5px -5px 5px rgba(255,255,255,.13),
                inset 5px 5px 15px  rgba(0,0,0,.5);
            }
        }
    }

    .logo-img{
        background-image: url('../../assets/logo.png');
        width: 100%;
        height: 70px;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.v-navbar{

    @include flexBox();
    flex-direction: column;
    width: auto;
    height: 100%;
    margin: auto 0;
    padding: $m-size 10px;

    .navbar-brand {
        font-size: $s-size;
        font-family: $logo-font;
    }

    ul{
        display: flex;
        flex-direction: column;
        height: 100%;

        .nav-btn{
            margin: 10px 0;
        }
    }

}

@include responsive_tab(){
    .v-nav{width: 10vw!important;}
}

@include responsive_max(450px){

    .v-nav{
        width: 20vw!important;
        bottom: 50px!important;
        transform: translateX(-120%);
        .logo-img{display: none;}
    }

}

@include responsive_max(360px){

    .v-nav{
        width: 25vw!important; 
    }

}