.auth-wrapper{
    @include landingPage();
    background-color: $white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    

    .auth-img{
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('../../../assets/bg1.png');
        background-size: cover;
       
    }
    
    .auth-header{
        @include flexBox(space-between, center);
        padding: $m-size;

        a{
            color: $black;
            font-weight: $bold;
            @include transition();
            &:hover{
                text-decoration: underline;
                color: $main-color;
            }
        }
    }

    .auth-content{position: relative;}

}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    
    .form-control{
        @include flexBox(space-between, flex-start);
        flex-direction: column;
        width: 100%;

        input{
            width: 100%;
            border-radius: 5px;
            margin-bottom: $s-size;
        }

        label{
            font-size: $m-size;
            margin-bottom: $m-size;
        }
    }

    .inline-form-control{
        justify-content: space-between;
        input{width: 95%;}
    }

    h1{
        text-align: center;
        font-size: $xl-size;
        font-family: $logo-font;
        margin-bottom: $xl-size;
    }
}


@include responsive_tab(){
    .auth-wrapper{
        grid-template-columns: 1fr!important;
        grid-template-rows: 2fr 1fr;

        .auth-img{grid-row: 2; background-position: 100% 66%!important;}
    }
}

@include responsive_mobile(){
    form{
        width: 80%!important;
        text-align: center;
    }
    .auth-wrapper{
        grid-template-rows: auto!important;
    }
    .auth-img{display: none;}

    .switch-auth{
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        width: 99%;
        text-align: center;
    }
}

@include responsive_max(360px){
    form{
        position: initial!important;
        top: initial!important;
        left: initial!important;
        transform: initial!important;
        padding-bottom: 5rem;
        width: 95%!important;
        margin: 0 auto;

        .btn-submit{
            margin-top: 0!important;
        }

        .inline-form-control{display: initial!important;}

        .empty-holder{min-height: auto!important;}
    }
    .switch-auth{bottom: 2%!important;}
}


