@mixin transition($prop: all, $speed: .2s, $type: linear){
    -webkit-transition: $prop $speed $type;
    -moz-transition: $prop $speed $type;
    -o-transition: $prop $speed $type;
    -ms-transition: $prop $speed $type;
    transition: $prop $speed $type;
}

@mixin bgImage($url) {
    background-image: url($url);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
}

@mixin landingPage {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

@mixin flexBox($justify-content: center, $align-items: center) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}



@mixin  responsive_mobile() {
    @media only screen and (max-width: 769px) {
        @content;
    }
}

// tablet
@mixin  responsive_tab() {
    @media only screen and (max-width: 1024px) {
        @content;
    }
}

// variable
@mixin  responsive_max ($max) {
    @media only screen and (max-width: $max) {
        @content;
    }
}

@mixin  responsive_min ($min) {
    @media only screen and (min-width: $min) {
        @content;
    }
}

