

$main-color: #F0B80F;
$secondary-color: #f3da90;
$nav-bg: #dbdbdb;
$bg-color: #f5f5f5;
$muted: #a3a3a3e8;
$muted-hover: #a5a4a4;
$light: #eee;

$border-color: #dad8d8;
$border-color-focus: #e4e4e4;

$semi-light: rgb(212, 212, 212);
$main-para-color: rgba(0,0,0,.8);
$secondary-para-color: rgba(255,255,255, .8);



$heading-color: #1a1a1a;


$white: #fff;
$black: #000;

$error: crimson;

$main-btn: rgba(200, 35, 51, .8);
$main-btn-hover: #C82333;
$auth-btn: #EA4C89;
$auth-btn-hover: rgb(219, 36, 106);


$link-color: #6FC4EE;

//Social media
$facebook: #3b5998;
$twitter: #00acee;
$insta: #C13584;